.logo {
  width: 120px;
}
.page-header {
  display: grid;
  place-items: center;
  height: 100%;
}
.winner-list {
  max-height: calc(100vh - 350px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.winner-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.winner-item > img {
  width: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.winner-info {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.winner-info > * {
  word-break: break-all;
}

.lucky-draw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lucky-draw-container > button {
  margin-top: auto;
}

.lucky-draw-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.lucky-draw-cards {
  display: flex;
  gap: 12px;
}

.mid-content-row {
  height: calc(100% - 135px);
}

.mid-content-row .card .card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.draw-btn-container {
  display: grid;
  place-items: center;
  margin-top: auto;
}
.custom-modal-width {
  max-width: 700px !important;
}

.winner-img {
  aspect-ratio: 1/1;
  width: 120px;
  border-radius: 50%;
}
